@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;1,300;1,500&display=swap");
body {
  font-family: "KoHo", sans-serif;
}
.nav-bar {
  background-color: rgba(235, 183, 98, 0.1);
}
.home-banner {
  background-color: rgba(235, 183, 98, 0.1);
  height: 100vh;
  display: flex;
  padding-inline: 8em;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ebb762;
}
.span-class {
  color: #ebb762;
}
.img-div {
  padding-left: 5em;
}
.title {
  font-size: 4em;
  font-weight: 500;
}
.div-button {
  background-color: #ebb762;
  border: none;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.choose-section {
  display: flex;
  padding-inline: 8em;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  /* border-width: 1px; */
  /* border-color: #ebb762;
    border-left-color: n;
    border-bottom-color: none;
    border-right-color: none;
    border-style: solid; */
}
.border {
  box-sizing: border-box;
  border-color: #ebb762 !important;
  padding-top: 5em;
  padding-bottom: 2em;
  border-width: 1.5px 0px;
  /* position: absolute;
width: 1410px;
height: 398px;
left: 255px;
top: 965px;
background: #FAFAFA;
border-width: 1.5px 0px;
border-style: solid;
border-color: #EBB762; */
}
.first-section {
  font-family: "KoHo";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #263238;
  padding-top: 3em;
  padding-right: 2em;
}
.second-section {
  font-family: "KoHo";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 88px;
  letter-spacing: 0.03em;
  color: #263238;
}
.small-text {
  text-align: right !important;
  padding-top: 2em;
}
