@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;1,300;1,500&display=swap");
body {
  font-family: "KoHo", sans-serif;
  font-style: normal;
}
.nav-bar {
  background-color: rgba(235, 183, 98, 0.1);
}
.home-banner {
  background-color: rgba(235, 183, 98, 0.1);
  height: 100vh;
  display: flex;
  padding-inline: 8em;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ebb762;
}
.span-class {
  color: #ebb762;
}
.img-div {
  padding-left: 5em;
}
.title {
  font-size: 4em;
  font-weight: 500;
}
.div-button {
  background-color: #ebb762;
  border: none;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.choose-section {
  display: flex;
  padding-inline: 8em;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  background: #fafafa;

  /* border-width: 1px; */
  /* border-color: #ebb762;
    border-left-color: n;
    border-bottom-color: none;
    border-right-color: none;
    border-style: solid; */
}
.border {
  box-sizing: border-box;
  border-color: #ebb762 !important;
  padding-top: 5em;
  padding-bottom: 2em;
  border-width: 1.5px 0px;

  /* position: absolute;
width: 1410px;
height: 398px;
left: 255px;
top: 965px;
background: #FAFAFA;
border-width: 1.5px 0px;
border-style: solid;
border-color: #EBB762; */
}
.first-section {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #263238;
  padding-top: 3em;
  padding-right: 5em;
}
.second-section {
  font-weight: 500;
  font-size: 48px;
  line-height: 88px;
  letter-spacing: 0.03em;
  color: #263238;
}
.small-text {
  text-align: right !important;
  padding-top: 2em;
}
.our-work-div {
  justify-content: center;
  text-align: center;
  padding: 5em;
  background: #fafafa;
}
.work-div {
  text-align: left;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #263238;
}
.work-par {
  text-align: left;
  font-weight: 500;
  font-size: 35px;
  line-height: 67px;
  letter-spacing: 0.03em;
  color: #263238;
}
.stars {
  transform: matrix(0.94, 0.31, -0.36, 0.95, 0, 0);
}
.work-par2 {
  text-align: left;
  padding-top: 20em;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #263238;
}
.trophy {
  transform: rotate(19.52deg);
}
.work-second {
  padding-top: 10em;
}
.work-third {
  text-align: left;
}
.card-body {
  text-align: left;
  background: #fafafa;
  /* position: absolute; */
  /* width: 350px;
  height: 250px; */
  /* left: 0px;
  top: 0px; */

  background: #f7e2c0;
  border: 1px solid #ebb762;
  border-radius: 5px;
}
.card-text1 {
  text-align: left;
  padding-top: 0.6em;
  font-size: 85px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #263238;
}
.card1-par {
  text-align: left;
  padding-top: 2em;
}
.box-section {
  background: #fafafa;
  padding-bottom: 5em;
}
/* .vector{
    padding-left: 8em;
transform: rotate(-32.06deg);
height: 50%;
width: 50%;
} */
.box-div {
  background: #fafafa !important;
}
.service-div {
  padding-top: 7em;
  background: #fafafa;
}
.card-row {
  padding-top: -20em;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #263238;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.service-img {
  padding-top: 5em;
  width: 400px;
  height: 370px;
  left: 825px;
  top: 2898px;

  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.core-text {
  font-weight: 250;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #263238;
}
.value-text {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 350;
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 0.03em;
  color: #263238;
}
.img-3,
.img-4 {
  padding-top: 1.2em;
}
.main-text {
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #263238;
}
.icon-portion {
  padding-left: 5em;
}
.partner-section{
    background: #fafafa;
    padding-top: 10em;
}
.partner-text{
    font-size: 48px;
line-height: 88px;
text-align: center;
letter-spacing: 0.03em;
color: #263238;
}
